:root {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: smooth;
}

.hidden {
    display: none !important;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
@keyframes fade-out {
    100% {
        opacity: 0;
    }
}

.game {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.hide-mouse {
    cursor: none;
}
.game.hide-mouse > * {
    pointer-events: none;
    user-select: none;
}

.enemy {
    position: absolute;
    bottom: 60px;
    right: -4px;
    cursor: pointer;
}
.skip-btn {
    position: relative;
    display: flex;
    width: max-content;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}
.enemy .eye {
    position: absolute;
    width: 36px;
    height: 36px;
    top: calc(50% - 2px);
    left: 50%;
    background-image: url("./assets/eye-DPceSnnf.svg");
    background-size: contain;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
    animation: fade-in 0.5s 1s both;
}
.enemy.attacking .eye {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(-55deg);
}
.enemy.low-stamina .eye {
    background-image: url("./assets/eye-half-Ba5iRsPV.svg");
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(-120deg) saturate(0.5);
}
.enemy.dead .eye {
    background-image: url("./assets/eye-half-Ba5iRsPV.svg");
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(180deg) saturate(0) brightness(0.4);
}
.enemy.dead {
    animation: fade-out 5s 1s both;
}
.enemy .weapon {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fade-in 0.3s both;
}
.enemy:not(.defending) .shield {
    display: none;
}
.enemy .shield {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 150%;
    height: 200%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(90deg) blur(5px);
    mix-blend-mode: overlay;
    opacity: 0.5;
    animation: fade-in 2.5s both;
}

.player {
    position: absolute;
    width: 48px;
    height: 48px;
}
.player.low-stamina .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-100deg) saturate(2);
}
.player.hurt .pointer,
.player.dead .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-50deg) saturate(4);
}
.player.dead .pointer {
    animation:
        flatten 1s both,
        fade-out 5s 1s both;
}
@keyframes flatten {
    100% {
        transform: rotateX(-50deg) skewX(-20deg);
        transform-origin: 75% 75%;
    }
}
.player .shield {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    opacity: 1;
    transition:
        opacity 0.1s,
        width 0.1s,
        height 0.1s;
}
.player .shield.hidden {
    display: initial !important;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.enemy:not(.attacking) > .attack-indicator,
.player:not(.attacking) > .attack-indicator {
    display: none;
}
.attack-indicator {
    --attack-scale: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    transform: translate(-50%, -50%) scale(var(--attack-scale));
    border-radius: 50%;
    background-color: red;
    mix-blend-mode: screen;
    opacity: 0.5;
}
.attack-phase-anticipation > .attack-indicator {
    background-color: blue;
}
.attack-phase-hit > .attack-indicator {
    background-color: red;
}
.attack-phase-recovery > .attack-indicator {
    background-color: gray;
    opacity: 0.25;
}

.enemy:not(.defending) > .defend-indicator,
.player:not(.defending) > .defend-indicator {
    display: none;
}
.defend-indicator {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: cyan;
    mix-blend-mode: screen;
    opacity: 0.5;
}

.subs {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-line {
    font-size: 1.2em;
    padding: 0.2em 0.5ch 0.1em;
    color: hsl(60, 100%, 75%);
    background-color: hsla(0, 0%, 0%, 0.5);
    width: max-content;
    font-style: italic;
    font-weight: 500;
}

.hud {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade-in 2.5s both;
}
.bar {
    --bar-fill: 0;
    --bar-color: white;
    --bar-diff: 0;
    --bar-diff-color: hsla(50deg, 70%, 37.5%, 0.75);
    border: 2px solid #909274;
    border-top: none;
    border-right: none;
    background-color: hsla(0, 0%, 0%, 0.75);
    position: absolute;
    height: 8px;
    width: 64px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.bar-fill {
    position: absolute;
    left: 0;
    width: calc(100% * var(--bar-fill));
    height: 100%;
    box-sizing: border-box;
    background-clip: border-box;
    border-right: 2px solid hsla(64deg, 10%, 80%, 0.85);
    background-color: var(--bar-color);
    background-image:
        linear-gradient(to bottom, transparent 60%, hsla(0, 0%, 100%, 0.25) 100%),
        linear-gradient(to left, hsla(0, 0%, 100%, 0.25) 0%, transparent 16px);
}
.bar-diff {
    position: absolute;
    left: calc(100% * var(--bar-fill));
    width: calc(100% * (var(--bar-diff)));
    top: 1px;
    height: calc(100% - 2px);
    background: var(--bar-diff-color);
}
.bar.health {
    --bar-color: #551213;
}
.bar.stamina {
    --bar-color: #1e4731;
}
.bar.stamina.low-stamina .bar-fill,
.bar.stamina.low-stamina .bar-diff {
    --bar-color: var(--bar-diff-color);
}

.player-bar.health {
    left: 24px;
    top: 30px;
    width: 256px;
}
.player-bar.stamina {
    left: 24px;
    top: 42px;
    width: 128px;
}

.boss-info {
    position: absolute;
    display: grid;
    grid-template:
        " name   damage"
        " health health"
        / 1fr auto;
    bottom: 96px;
    width: 500px;
    left: 0;
    right: 0;
    color: white;
    margin: 0 auto;
    gap: 0.25em;
    font-size: 0.9em;
    font-family: serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    animation: fade-in 1.5s 5s both;
}
.boss-name {
    grid-area: name;
}
.boss-info.damage {
    grid-area: damage;
    justify-self: right;
    text-align: right;
}
.enemy-bar.health {
    position: relative;
    grid-area: health;
    width: 100%;
}
.enemy-bar.stamina {
    position: relative;
    grid-column: 1 / -1;
    width: 100%;
}
.equipped {
    position: absolute;
    bottom: 30px;
    left: 24px;
    display: grid;
    grid-template:
        " .    top    ." 1fr
        " left top    right" 1fr
        " left bottom right" 1fr
        " .    bottom ." 1fr
        / 1fr 1fr 1fr;
    gap: 0 3px;
}
.equipped .slot {
    --border-color: #909274;
    position: relative;
    width: calc(32px + 2 * 4px);
    height: calc(40px + 2 * 4px);
    margin: 0px;
    padding: 2px;
    background-color: hsla(0, 0%, 0%, 0.75);
    border: 3px solid var(--border-color);
    border-left-width: 1px;
    border-right-width: 1px;
    box-shadow: 0 0 3px inset var(--border-color);
    pointer-events: initial;
    --edge-feather: 2px;
    mask-image:
        linear-gradient(
            to bottom,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        ),
        linear-gradient(
            to left,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        );
    mask-composite: intersect;
    touch-action: none;
}
.equipped .slot.equip-left {
    grid-area: left;
}
.equipped .slot.equip-right {
    grid-area: right;
}
.equipped .slot.equip-top {
    grid-area: top;
}
.equipped .slot.equip-bottom {
    grid-area: bottom;
}
.equipped .slot:has(.item):hover {
    background-color: hsla(220, 50%, 15%, 0.75);
    --border-color: hsla(220, 40%, 50%);
}
.equipped .slot * {
    pointer-events: none;
}
.equipped .slot .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
}
.equipped .slot .amount {
    position: absolute;
    bottom: 0;
    right: 1px;
    line-height: 1;
    font-family: serif;
    font-size: 0.9em;
    font-weight: bold;
    background-color: hsla(0, 0%, 0%, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.defeat-screen,
.victory-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.75) 25%,
        rgba(0, 0, 0, 0.75) 75%,
        transparent 100%
    );
    animation: fade-in 2s;
}
.defeat-screen {
    color: #680612;
}
.victory-screen {
    color: #f2c338;
}
.victory-screen::before,
.victory-screen::after {
    content: attr(title);
    display: block;
    position: absolute;
}
.victory-screen::before {
    opacity: 0.25;
    animation: 2s cubic-bezier(0, 0, 0.1, 1) 0.5s both letters-spread;
    letter-spacing: 4%;
}
@keyframes letters-spread {
    0% {
        letter-spacing: normal;
    }
}
