:root {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: smooth;
}

.hidden {
    display: none !important;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
@keyframes fade-out {
    100% {
        opacity: 0;
    }
}

.game {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.hide-mouse {
    cursor: none;
}
.game.hide-mouse > * {
    pointer-events: none;
    user-select: none;
}

.animations {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    touch-action: none;
}

.enemy {
    position: absolute;
    bottom: 60px;
    right: -4px;
    cursor: pointer;
}
.skip-btn {
    position: relative;
    display: flex;
    width: max-content;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}
.enemy .eye {
    position: absolute;
    width: 36px;
    height: 36px;
    top: calc(50% - 2px);
    left: 50%;
    background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'%20standalone='no'?%3e%3c!--%20Created%20with%20Inkscape%20(http://www.inkscape.org/)%20--%3e%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20version='1.1'%20id='svg1'%20xml:space='preserve'%20inkscape:version='1.4.3%20(0d15f75042,%202025-12-25)'%20sodipodi:docname='eye.svg'%20xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape'%20xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:svg='http://www.w3.org/2000/svg'%3e%3csodipodi:namedview%20id='namedview1'%20pagecolor='%23505050'%20bordercolor='%23ffffff'%20borderopacity='1'%20inkscape:showpageshadow='0'%20inkscape:pageopacity='0'%20inkscape:pagecheckerboard='1'%20inkscape:deskcolor='%23505050'%20inkscape:document-units='px'%20inkscape:zoom='8.7045856'%20inkscape:cx='64.908316'%20inkscape:cy='33.315773'%20inkscape:window-width='2560'%20inkscape:window-height='1363'%20inkscape:window-x='1760'%20inkscape:window-y='648'%20inkscape:window-maximized='1'%20inkscape:current-layer='g34'%20/%3e%3cdefs%20id='defs1'%3e%3clinearGradient%20id='linearGradient6'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23302c2c;stop-opacity:1;'%20offset='0'%20id='stop6'%20/%3e%3cstop%20style='stop-color:%23090808;stop-opacity:1;'%20offset='1'%20id='stop5'%20/%3e%3c/linearGradient%3e%3clinearGradient%20id='linearGradient2'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23231f1c;stop-opacity:1;'%20offset='0'%20id='stop4'%20/%3e%3cstop%20style='stop-color:%23423c3a;stop-opacity:1;'%20offset='1'%20id='stop2'%20/%3e%3c/linearGradient%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient2'%20id='radialGradient3-6'%20cx='23.717789'%20cy='21.209358'%20fx='23.717789'%20fy='21.209358'%20r='8.9509497'%20gradientTransform='matrix(1.4046476,0.06081929,-0.01565765,0.36162021,-42.566735,-11.962009)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient6'%20id='radialGradient5'%20cx='22.617514'%20cy='29.337021'%20fx='22.617514'%20fy='29.337021'%20r='23.029161'%20gradientTransform='matrix(1,0,0,0.74546396,0,6.2777737)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cmask%20maskUnits='userSpaceOnUse'%20id='mask32'%3e%3cg%20id='g33'%3e%3cpath%20style='fill:%23ffffff;fill-opacity:1;stroke:none;stroke-width:0.0561612;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20d='M%202.801465,32.708267%20C%202.811544,26.746365%205.235608,21.060771%209.6566514,16.62956%20c%201.2124416,-1.21523%202.6963356,-2.481103%202.8562626,-2.436605%200.09055,0.02519%207.149547,4.291623%2015.938993,9.633465%202.828051,1.718766%207.710021,4.683836%2010.84882,6.589045%20l%205.706909,3.464015%20H%2023.90356%202.7994849%20Z'%20id='path33'%20/%3e%3crect%20style='fill:%23000000;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect33'%20width='48'%20height='48'%20x='0'%20y='-14'%20transform='rotate(30,%2048,%2034)'%20%3e%3canimateTransform%20attributeName='transform'%20attributeType='XML'%20type='rotate'%20values='0%2048%2034;%2090%2048%2034;%2090%2048%2034;%200%2048%2034;%2090%2048%2034;%2090%2048%2034;%200%2048%2034'%20dur='7s'%20keyTimes='0;0.05;0.60;0.65;0.70;0.95;1'%20repeatCount='indefinite'%20/%3e%3c/rect%3e%3c/g%3e%3c/mask%3e%3cfilter%20y='-0.21239068'%20height='1.2209176'%20inkscape:menu-tooltip='Darkens%20the%20edge%20with%20an%20inner%20blur%20and%20adds%20a%20flexible%20glow'%20inkscape:menu='Shadows%20and%20Glows'%20inkscape:label='Dark%20and%20Glow'%20style='color-interpolation-filters:sRGB;'%20id='filter60'%20x='-0.1580097'%20width='1.3160194'%3e%3cfeGaussianBlur%20stdDeviation='3'%20result='result6'%20id='feGaussianBlur59'%20/%3e%3cfeComposite%20result='result8'%20in='SourceGraphic'%20operator='lighter'%20in2='result6'%20id='feComposite59'%20k1='-0.56337368563286105'%20/%3e%3cfeColorMatrix%20values='1%200%200%200%200%200%201%200%200%200%200%200%201%200%200%200%200%200%201%200%20'%20result='result10'%20id='feColorMatrix60'%20/%3e%3cfeBlend%20in='result10'%20mode='normal'%20in2='result6'%20id='feBlend60'%20/%3e%3c/filter%3e%3c/defs%3e%3cg%20inkscape:label='Layer%201'%20inkscape:groupmode='layer'%20id='layer1'%3e%3cg%20id='g34'%20style='filter:url(%23filter60)'%3e%3cg%20id='g10'%20clip-path='none'%20mask='url(%23mask32)'%3e%3crect%20style='fill:url(%23radialGradient5);stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect4'%20width='45.566822'%20height='33.843319'%20x='1.2165898'%20y='7.7419353'%20mask='none'%20clip-path='none'%20/%3e%3cellipse%20style='fill:%23ffd11e;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='path10'%20cx='22.381664'%20cy='28.847717'%20rx='9.7812271'%20ry='12.79401'%20/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: contain;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
    animation: fade-in 0.5s 1s both;
}
.enemy.attacking .eye {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(-55deg);
}
.enemy.low-stamina .eye {
    background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'%20standalone='no'?%3e%3c!--%20Created%20with%20Inkscape%20(http://www.inkscape.org/)%20--%3e%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20version='1.1'%20id='svg1'%20xml:space='preserve'%20inkscape:version='1.4.3%20(0d15f75042,%202025-12-25)'%20sodipodi:docname='eye.svg'%20xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape'%20xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:svg='http://www.w3.org/2000/svg'%3e%3csodipodi:namedview%20id='namedview1'%20pagecolor='%23505050'%20bordercolor='%23ffffff'%20borderopacity='1'%20inkscape:showpageshadow='0'%20inkscape:pageopacity='0'%20inkscape:pagecheckerboard='1'%20inkscape:deskcolor='%23505050'%20inkscape:document-units='px'%20inkscape:zoom='8.7045856'%20inkscape:cx='64.908316'%20inkscape:cy='33.315773'%20inkscape:window-width='2560'%20inkscape:window-height='1363'%20inkscape:window-x='1760'%20inkscape:window-y='648'%20inkscape:window-maximized='1'%20inkscape:current-layer='g34'%20/%3e%3cdefs%20id='defs1'%3e%3clinearGradient%20id='linearGradient6'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23302c2c;stop-opacity:1;'%20offset='0'%20id='stop6'%20/%3e%3cstop%20style='stop-color:%23090808;stop-opacity:1;'%20offset='1'%20id='stop5'%20/%3e%3c/linearGradient%3e%3clinearGradient%20id='linearGradient2'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23231f1c;stop-opacity:1;'%20offset='0'%20id='stop4'%20/%3e%3cstop%20style='stop-color:%23423c3a;stop-opacity:1;'%20offset='1'%20id='stop2'%20/%3e%3c/linearGradient%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient2'%20id='radialGradient3-6'%20cx='23.717789'%20cy='21.209358'%20fx='23.717789'%20fy='21.209358'%20r='8.9509497'%20gradientTransform='matrix(1.4046476,0.06081929,-0.01565765,0.36162021,-42.566735,-11.962009)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient6'%20id='radialGradient5'%20cx='22.617514'%20cy='29.337021'%20fx='22.617514'%20fy='29.337021'%20r='23.029161'%20gradientTransform='matrix(1,0,0,0.74546396,0,6.2777737)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cmask%20maskUnits='userSpaceOnUse'%20id='mask32'%3e%3cg%20id='g33'%3e%3cpath%20style='fill:%23ffffff;fill-opacity:1;stroke:none;stroke-width:0.0561612;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20d='M%202.801465,32.708267%20C%202.811544,26.746365%205.235608,21.060771%209.6566514,16.62956%20c%201.2124416,-1.21523%202.6963356,-2.481103%202.8562626,-2.436605%200.09055,0.02519%207.149547,4.291623%2015.938993,9.633465%202.828051,1.718766%207.710021,4.683836%2010.84882,6.589045%20l%205.706909,3.464015%20H%2023.90356%202.7994849%20Z'%20id='path33'%20/%3e%3crect%20style='fill:%23000000;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect33'%20width='48'%20height='48'%20x='0'%20y='-14'%20transform='rotate(10,%2048,%2034)'%20%3e%3c/rect%3e%3c/g%3e%3c/mask%3e%3cfilter%20y='-0.21239068'%20height='1.2209176'%20inkscape:menu-tooltip='Darkens%20the%20edge%20with%20an%20inner%20blur%20and%20adds%20a%20flexible%20glow'%20inkscape:menu='Shadows%20and%20Glows'%20inkscape:label='Dark%20and%20Glow'%20style='color-interpolation-filters:sRGB;'%20id='filter60'%20x='-0.1580097'%20width='1.3160194'%3e%3cfeGaussianBlur%20stdDeviation='3'%20result='result6'%20id='feGaussianBlur59'%20/%3e%3cfeComposite%20result='result8'%20in='SourceGraphic'%20operator='lighter'%20in2='result6'%20id='feComposite59'%20k1='-0.56337368563286105'%20/%3e%3cfeColorMatrix%20values='1%200%200%200%200%200%201%200%200%200%200%200%201%200%200%200%200%200%201%200%20'%20result='result10'%20id='feColorMatrix60'%20/%3e%3cfeBlend%20in='result10'%20mode='normal'%20in2='result6'%20id='feBlend60'%20/%3e%3c/filter%3e%3c/defs%3e%3cg%20inkscape:label='Layer%201'%20inkscape:groupmode='layer'%20id='layer1'%3e%3cg%20id='g34'%20style='filter:url(%23filter60)'%3e%3cg%20id='g10'%20clip-path='none'%20mask='url(%23mask32)'%3e%3crect%20style='fill:url(%23radialGradient5);stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect4'%20width='45.566822'%20height='33.843319'%20x='1.2165898'%20y='7.7419353'%20mask='none'%20clip-path='none'%20/%3e%3cellipse%20style='fill:%23ffd11e;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='path10'%20cx='22.381664'%20cy='28.847717'%20rx='9.7812271'%20ry='12.79401'%20/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(-120deg) saturate(0.5);
}
.enemy.dead .eye {
    background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'%20standalone='no'?%3e%3c!--%20Created%20with%20Inkscape%20(http://www.inkscape.org/)%20--%3e%3csvg%20width='48'%20height='48'%20viewBox='0%200%2048%2048'%20version='1.1'%20id='svg1'%20xml:space='preserve'%20inkscape:version='1.4.3%20(0d15f75042,%202025-12-25)'%20sodipodi:docname='eye.svg'%20xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape'%20xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:svg='http://www.w3.org/2000/svg'%3e%3csodipodi:namedview%20id='namedview1'%20pagecolor='%23505050'%20bordercolor='%23ffffff'%20borderopacity='1'%20inkscape:showpageshadow='0'%20inkscape:pageopacity='0'%20inkscape:pagecheckerboard='1'%20inkscape:deskcolor='%23505050'%20inkscape:document-units='px'%20inkscape:zoom='8.7045856'%20inkscape:cx='64.908316'%20inkscape:cy='33.315773'%20inkscape:window-width='2560'%20inkscape:window-height='1363'%20inkscape:window-x='1760'%20inkscape:window-y='648'%20inkscape:window-maximized='1'%20inkscape:current-layer='g34'%20/%3e%3cdefs%20id='defs1'%3e%3clinearGradient%20id='linearGradient6'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23302c2c;stop-opacity:1;'%20offset='0'%20id='stop6'%20/%3e%3cstop%20style='stop-color:%23090808;stop-opacity:1;'%20offset='1'%20id='stop5'%20/%3e%3c/linearGradient%3e%3clinearGradient%20id='linearGradient2'%20inkscape:collect='always'%3e%3cstop%20style='stop-color:%23231f1c;stop-opacity:1;'%20offset='0'%20id='stop4'%20/%3e%3cstop%20style='stop-color:%23423c3a;stop-opacity:1;'%20offset='1'%20id='stop2'%20/%3e%3c/linearGradient%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient2'%20id='radialGradient3-6'%20cx='23.717789'%20cy='21.209358'%20fx='23.717789'%20fy='21.209358'%20r='8.9509497'%20gradientTransform='matrix(1.4046476,0.06081929,-0.01565765,0.36162021,-42.566735,-11.962009)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cradialGradient%20inkscape:collect='always'%20xlink:href='%23linearGradient6'%20id='radialGradient5'%20cx='22.617514'%20cy='29.337021'%20fx='22.617514'%20fy='29.337021'%20r='23.029161'%20gradientTransform='matrix(1,0,0,0.74546396,0,6.2777737)'%20gradientUnits='userSpaceOnUse'%20/%3e%3cmask%20maskUnits='userSpaceOnUse'%20id='mask32'%3e%3cg%20id='g33'%3e%3cpath%20style='fill:%23ffffff;fill-opacity:1;stroke:none;stroke-width:0.0561612;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20d='M%202.801465,32.708267%20C%202.811544,26.746365%205.235608,21.060771%209.6566514,16.62956%20c%201.2124416,-1.21523%202.6963356,-2.481103%202.8562626,-2.436605%200.09055,0.02519%207.149547,4.291623%2015.938993,9.633465%202.828051,1.718766%207.710021,4.683836%2010.84882,6.589045%20l%205.706909,3.464015%20H%2023.90356%202.7994849%20Z'%20id='path33'%20/%3e%3crect%20style='fill:%23000000;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect33'%20width='48'%20height='48'%20x='0'%20y='-14'%20transform='rotate(10,%2048,%2034)'%20%3e%3c/rect%3e%3c/g%3e%3c/mask%3e%3cfilter%20y='-0.21239068'%20height='1.2209176'%20inkscape:menu-tooltip='Darkens%20the%20edge%20with%20an%20inner%20blur%20and%20adds%20a%20flexible%20glow'%20inkscape:menu='Shadows%20and%20Glows'%20inkscape:label='Dark%20and%20Glow'%20style='color-interpolation-filters:sRGB;'%20id='filter60'%20x='-0.1580097'%20width='1.3160194'%3e%3cfeGaussianBlur%20stdDeviation='3'%20result='result6'%20id='feGaussianBlur59'%20/%3e%3cfeComposite%20result='result8'%20in='SourceGraphic'%20operator='lighter'%20in2='result6'%20id='feComposite59'%20k1='-0.56337368563286105'%20/%3e%3cfeColorMatrix%20values='1%200%200%200%200%200%201%200%200%200%200%200%201%200%200%200%200%200%201%200%20'%20result='result10'%20id='feColorMatrix60'%20/%3e%3cfeBlend%20in='result10'%20mode='normal'%20in2='result6'%20id='feBlend60'%20/%3e%3c/filter%3e%3c/defs%3e%3cg%20inkscape:label='Layer%201'%20inkscape:groupmode='layer'%20id='layer1'%3e%3cg%20id='g34'%20style='filter:url(%23filter60)'%3e%3cg%20id='g10'%20clip-path='none'%20mask='url(%23mask32)'%3e%3crect%20style='fill:url(%23radialGradient5);stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='rect4'%20width='45.566822'%20height='33.843319'%20x='1.2165898'%20y='7.7419353'%20mask='none'%20clip-path='none'%20/%3e%3cellipse%20style='fill:%23ffd11e;fill-opacity:1;stroke:none;stroke-width:0.491501;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1'%20id='path10'%20cx='22.381664'%20cy='28.847717'%20rx='9.7812271'%20ry='12.79401'%20/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1)) hue-rotate(180deg) saturate(0) brightness(0.4);
}
.enemy.dead {
    animation: fade-out 5s 1s both;
}
.enemy .weapon {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fade-in 0.3s both;
}
.enemy:not(.defending) .shield {
    display: none;
}
.enemy .shield {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 150%;
    height: 200%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(90deg) blur(5px);
    mix-blend-mode: overlay;
    opacity: 0.5;
    animation: fade-in 2.5s both;
}

.player {
    position: absolute;
    width: 48px;
    height: 48px;
}
.player.low-stamina .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-100deg) saturate(2);
}
.player.hurt .pointer,
.player.dead .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-50deg) saturate(4);
}
.player.dead .pointer {
    animation:
        flatten 1s both,
        fade-out 5s 1s both;
}
@keyframes flatten {
    100% {
        transform: rotateX(-50deg) skewX(-20deg);
        transform-origin: 75% 75%;
    }
}
.player .shield {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    opacity: 1;
    transition:
        opacity 0.1s,
        width 0.1s,
        height 0.1s;
}
.player .shield.hidden {
    display: initial !important;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.enemy:not(.attacking) > .attack-indicator,
.player:not(.attacking) > .attack-indicator {
    display: none;
}
.attack-indicator {
    --attack-scale: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    transform: translate(-50%, -50%) scale(var(--attack-scale));
    border-radius: 50%;
    background-color: red;
    mix-blend-mode: screen;
    opacity: 0.5;
}
.attack-phase-anticipation > .attack-indicator {
    background-color: blue;
}
.attack-phase-hit > .attack-indicator {
    background-color: red;
}
.attack-phase-recovery > .attack-indicator {
    background-color: gray;
    opacity: 0.25;
}

.enemy:not(.defending) > .defend-indicator,
.player:not(.defending) > .defend-indicator {
    display: none;
}
.defend-indicator {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: cyan;
    mix-blend-mode: screen;
    opacity: 0.5;
}

.subs {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-line {
    font-size: 1.2em;
    padding: 0.2em 0.5ch 0.1em;
    color: hsl(60, 100%, 75%);
    background-color: hsla(0, 0%, 0%, 0.5);
    width: max-content;
    font-style: italic;
    font-weight: 500;
}

.hud {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade-in 2.5s 2.5s both;
}

.rune {
    position: absolute;
    left: 24px;
    top: 20px;
    width: 48px;
    height: 48px;
}

.bar {
    --bar-fill: 0;
    --bar-color: white;
    --bar-diff: 0;
    --bar-diff-color: hsla(50deg, 70%, 37.5%, 0.75);
    border: 2px solid #909274;
    border-top: none;
    border-right: none;
    background-color: hsla(0, 0%, 0%, 0.75);
    position: absolute;
    height: 8px;
    width: 64px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.bar-fill {
    position: absolute;
    left: 0;
    width: calc(100% * var(--bar-fill));
    height: 100%;
    box-sizing: border-box;
    background-clip: border-box;
    border-right: 2px solid hsla(64deg, 10%, 80%, 0.85);
    background-color: var(--bar-color);
    background-image:
        linear-gradient(to bottom, transparent 60%, hsla(0, 0%, 100%, 0.25) 100%),
        linear-gradient(to left, hsla(0, 0%, 100%, 0.25) 0%, transparent 16px);
}
.bar-diff {
    position: absolute;
    left: calc(100% * var(--bar-fill));
    width: calc(100% * (var(--bar-diff)));
    top: 1px;
    height: calc(100% - 2px);
    background: var(--bar-diff-color);
}
.bar.health {
    --bar-color: #551213;
}
.bar.stamina {
    --bar-color: #1e4731;
}
.bar.stamina.low-stamina .bar-fill,
.bar.stamina.low-stamina .bar-diff {
    --bar-color: var(--bar-diff-color);
}

.player-bar.health {
    left: 76px;
    top: 32px;
    width: 256px;
}
.player-bar.stamina {
    left: 76px;
    top: 46px;
    width: 128px;
}

.boss-info {
    position: absolute;
    display: grid;
    grid-template:
        " name   damage"
        " health health"
        / 1fr auto;
    bottom: 96px;
    width: 500px;
    left: 0;
    right: 0;
    color: white;
    margin: 0 auto;
    gap: 0.25em;
    font-size: 0.9em;
    font-family: serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    animation: fade-in 1.5s 5s both;
}
.boss-name {
    grid-area: name;
}
.boss-info.damage {
    grid-area: damage;
    justify-self: right;
    text-align: right;
}
.enemy-bar.health {
    position: relative;
    grid-area: health;
    width: 100%;
}
.enemy-bar.stamina {
    position: relative;
    grid-column: 1 / -1;
    width: 100%;
}
.equipped {
    position: absolute;
    bottom: 30px;
    left: 24px;
    display: grid;
    grid-template:
        " .    top    ." 1fr
        " left top    right" 1fr
        " left bottom right" 1fr
        " .    bottom ." 1fr
        / 1fr 1fr 1fr;
    gap: 0 3px;
}
.equipped .slot {
    --border-color: #909274;
    position: relative;
    width: calc(32px + 2 * 4px);
    height: calc(40px + 2 * 4px);
    margin: 0px;
    padding: 2px;
    background-color: hsla(0, 0%, 0%, 0.75);
    border: 3px solid var(--border-color);
    border-left-width: 1px;
    border-right-width: 1px;
    box-shadow: 0 0 3px inset var(--border-color);
    pointer-events: initial;
    --edge-feather: 2px;
    mask-image:
        linear-gradient(
            to bottom,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        ),
        linear-gradient(
            to left,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        );
    mask-composite: intersect;
    touch-action: none;
}
.equipped .slot.equip-left {
    grid-area: left;
}
.equipped .slot.equip-right {
    grid-area: right;
}
.equipped .slot.equip-top {
    grid-area: top;
}
.equipped .slot.equip-bottom {
    grid-area: bottom;
}
.equipped .slot:has(.item):hover {
    background-color: hsla(220, 50%, 15%, 0.75);
    --border-color: hsla(220, 40%, 50%);
}
.equipped .slot * {
    pointer-events: none;
}
.equipped .slot .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
}
.equipped .slot .amount {
    position: absolute;
    bottom: 0;
    right: 1px;
    line-height: 1;
    font-family: serif;
    font-size: 0.9em;
    font-weight: bold;
    background-color: hsla(0, 0%, 0%, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.defeat-screen,
.victory-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.75) 25%,
        rgba(0, 0, 0, 0.75) 75%,
        transparent 100%
    );
    animation: fade-in 2s;
}
.defeat-screen {
    color: #680612;
}
.victory-screen {
    color: #f2c338;
}
.victory-screen::before,
.victory-screen::after {
    content: attr(title);
    display: block;
    position: absolute;
}
.victory-screen::before {
    opacity: 0.25;
    animation: 2s cubic-bezier(0, 0, 0.1, 1) 0.5s both letters-spread;
    letter-spacing: 4%;
}
@keyframes letters-spread {
    0% {
        letter-spacing: normal;
    }
}
