.hidden {
    display: none !important;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.hide-mouse {
    cursor: none;
}
.game.hide-mouse > * {
    pointer-events: none;
    user-select: none;
}

.skip-btn {
    position: absolute;
    bottom: 60px;
    width: max-content;
    height: 1em;
    right: -4px;
    padding: 0.5em 1em;
    background: hsla(0, 0%, 100%, 0.85);
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.player {
    position: absolute;
    width: 48px;
    height: 48px;
}
.player.low-stamina .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-100deg) saturate(2);
}
.player.hurt .pointer {
    filter: contrast(0.5) sepia(1) hue-rotate(-30deg) saturate(4);
}

.skip-btn:not(.attacking) > .attack-indicator,
.player:not(.attacking) > .attack-indicator {
    display: none;
}
.attack-indicator {
    --attack-scale: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(var(--attack-scale));
    border-radius: 50%;
    background-color: red;
    mix-blend-mode: screen;
    opacity: 0.5;
}
.attack-phase-anticipation > .attack-indicator {
    background-color: blue;
}
.attack-phase-hit > .attack-indicator {
    background-color: red;
}
.attack-phase-recovery > .attack-indicator {
    background-color: gray;
    opacity: 0.25;
}

.skip-btn:not(.defending) > .defend-animation,
.player:not(.defending) > .defend-animation {
    display: none;
}
.defend-animation {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: cyan;
    mix-blend-mode: screen;
    opacity: 0.5;
}

.hud {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade-in 2.5s 2.5s both;
}
.bar {
    --bar-fill: 0;
    --bar-color: white;
    --bar-diff: 0;
    --bar-diff-color: hsla(50deg, 70%, 37.5%, 0.75);
    border: 2px solid #909274;
    border-top: none;
    border-right: none;
    background-color: hsla(0, 0%, 0%, 0.75);
    position: absolute;
    height: 8px;
    width: 64px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.bar-fill {
    position: absolute;
    left: 0;
    width: calc(100% * var(--bar-fill));
    height: 100%;
    box-sizing: border-box;
    background-clip: border-box;
    border-right: 2px solid hsla(64deg, 10%, 80%, 0.85);
    background-color: var(--bar-color);
    background-image:
        linear-gradient(to bottom, transparent 60%, hsla(0, 0%, 100%, 0.25) 100%),
        linear-gradient(to left, hsla(0, 0%, 100%, 0.25) 0%, transparent 16px);
}
.bar-diff {
    position: absolute;
    left: calc(100% * var(--bar-fill));
    width: calc(100% * (var(--bar-diff)));
    top: 1px;
    height: calc(100% - 2px);
    background: var(--bar-diff-color);
}
.bar.health {
    --bar-color: #551213;
}
.bar.stamina {
    --bar-color: #1e4731;
}
.bar.stamina.low-stamina .bar-fill,
.bar.stamina.low-stamina .bar-diff {
    --bar-color: var(--bar-diff-color);
}

.player-bar.health {
    left: 24px;
    top: 30px;
    width: 256px;
}
.player-bar.stamina {
    left: 24px;
    top: 42px;
    width: 128px;
}

.boss-info {
    position: absolute;
    display: grid;
    grid-template:
        " name   damage"
        " health health"
        / 1fr auto;
    bottom: 96px;
    width: 500px;
    left: 0;
    right: 0;
    color: white;
    margin: 0 auto;
    gap: 0.25em;
    font-size: 0.9em;
    font-family: serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.boss-name {
    grid-area: name;
}
.boss-info.damage {
    grid-area: damage;
    justify-self: right;
    text-align: right;
}
.enemy-bar.health {
    position: relative;
    grid-area: health;
    width: 100%;
}
.enemy-bar.stamina {
    position: relative;
    grid-column: 1 / -1;
    width: 100%;
}
.equipped {
    position: absolute;
    bottom: 30px;
    left: 24px;
    display: grid;
    grid-template:
        " .    top    ." 1fr
        " left top    right" 1fr
        " left bottom right" 1fr
        " .    bottom ." 1fr
        / 1fr 1fr 1fr;
    gap: 0 3px;
}
.equipped .slot {
    position: relative;
    width: calc(32px + 2 * 4px);
    height: calc(40px + 2 * 4px);
    margin: 0px;
    padding: 2px;
    background-color: hsla(0, 0%, 0%, 0.75);
    border: 3px solid #909274;
    border-left-width: 1px;
    border-right-width: 1px;
    box-shadow: 0 0 3px inset #909274;
    pointer-events: initial;
    --edge-feather: 2px;
    mask-image:
        linear-gradient(
            to bottom,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        ),
        linear-gradient(
            to left,
            transparent 0%,
            white calc(0% + var(--edge-feather)),
            white calc(100% - var(--edge-feather)),
            transparent 100%
        );
    mask-composite: intersect;
}
.equipped .slot.equip-left {
    grid-area: left;
}
.equipped .slot.equip-right {
    grid-area: right;
}
.equipped .slot.equip-top {
    grid-area: top;
}
.equipped .slot.equip-bottom {
    grid-area: bottom;
}
.equipped .slot .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
}
.equipped .slot .amount {
    position: absolute;
    bottom: 0;
    right: 1px;
    line-height: 1;
    font-family: serif;
    font-size: 0.9em;
    font-weight: bold;
    background-color: hsla(0, 0%, 0%, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.defeat-screen,
.victory-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.75) 25%,
        rgba(0, 0, 0, 0.75) 75%,
        transparent 100%
    );
    animation: fade-in 2s;
}
.defeat-screen {
    color: #680612;
}
.victory-screen {
    color: #f2c338;
}
.victory-screen::before,
.victory-screen::after {
    content: attr(title);
    display: block;
    position: absolute;
}
.victory-screen::before {
    opacity: 0.25;
    animation: 2s cubic-bezier(0, 0, 0.1, 1) 0.5s both letters-spread;
    letter-spacing: 4%;
}
@keyframes letters-spread {
    0% {
        letter-spacing: normal;
    }
}
